/node_modules
        ../../../.bash_history
        ../../../.config/
        ../../../.gitconfig
        ../../../.lesshst
        ../../../.node_repl_history
        ../../../.vscode/
        ../../../AppData/
        ../../../Contacts/
        ../.gitignore
        ../.vscode/
        ../package-lock.json
        ../package.json
        ../../AWS/
        ../../Blog_Managment_System_Practise/
        ../../Blog_managment_System/
        ../../Book_managment_System/.vscode/
        ../../Book_managment_System/project-booksManagementGroup25/
        ../../HTML tutorial/promise.js
        ../../HTML tutorial/sync&async.js
        ../../Open_To_Intern_Practise/
        ../../book_managment_practise/
        ../../open_To_Intern_FrontEnd/
        ../../../Documents/
        ../../../Downloads/
        ../../../Favorites/
        ../../../IdeaProjects/
        ../../../IdeaProjectsmy_first_programm_java/
        ../../../Links/
        ../../../MY_First_Project/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../../../OneDrive/
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        ../../../Videos/
        ../../../my1stHTML.functionup
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini